body {
    font-family: Verdana, Geneva, serif;
    font-size: 26px;
    background-color: #5171A5; 
    color: #E2EFDE;
    padding: 5px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #5171A5;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    border-bottom: 3px solid #241E4E;
    color: #87F5FB;
    font-size: 50px;
    padding-right: 30px;
    text-align: right;
    padding-bottom: 10px;
}

h2 {
    font-family: "Trebuchet MS", Verdana, serif;
    color: #E2EFDE;
    font-size: 30px;
    text-align: right;
}

#footer {
    background-color: #241E4E;
    text-align: center;
    padding: 5px;
}

#indextext {
    text-align: right;
    padding: 15px;
}

#ODDheader {
    text-align: right;
    background-color: #8BBEB2;
    width: 200px;
    height: 400px;
}

#ODDimage {
    background-color: #5171A5;
    width: 600px;
    padding: 5px;
}

#EVENheader {
    text-align: left;
    background-color: #5171A5;
    width: 200px;
}

#EVENimage {
    background-color: #8BBEB2;
    width: 600px;
    padding: 5px;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #241E4E;
    padding: 10px 20px;
    text-decoration: none;
    color: #E2EFDE;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: #E2EFDE;
    background-color: #87F5FB;
}